<% if publication = statistics_announcement.publication %>

  <div class="" style="border: 1px solid #ccc; border-radius: 3px; padding: 15px 20px; margin-bottom: 30px">
    <h3 style="line-height: 25px; margin-bottom: 15px">

      <% if true %>
        Announcement will redirect to:<br />
      <% else %>
        Announcement redirects to:<br />
      <% end %>
      <%= link_to publication.title, [:admin, publication] %><br />
      <span style="font-weight: normal">(<%= publication.current_state %>)</span>
    </h3>

    <% unless true %>
      <p style="font-size: 16px">This document replaced the announcement on <%= publication.public_timestamp.to_s(:long_ordinal) %>.</p>
    <% end %>
    <p class="js-document-announcement-linker"></p>
    <%= render "document_linker", statistics_announcement: statistics_announcement %>
  </div>

<% else %>
  <div class="alert" style="margin-bottom: 30px; padding: 15px 20px;">
    <h3 style="">Connect a draft publication to this announcement</h3>
    <p style="font-size: 16px; margin-bottom: 15px">When the connected document is published this announcement will redirect to it.</p>
    <p style="font-size: 16px" class="js-document-announcement-linker" style="margin-bottom: 0">
      <%= link_to "Draft a new document", new_admin_publication_path(statistics_announcement_id: statistics_announcement) %>
    </p>
    <%= render "document_linker", statistics_announcement: statistics_announcement %>
  </div>
<% end %>
