<%= form_for [:admin, statistics_announcement] do |form| %>
  <%= form.hidden_field :publication_id %>
  <%= form.errors %>

  <div class="control-group">
    <%= form.label  :publication_type_id, 'Type', required: true %>

    <label class="chunky-radio" style="min-height: 103px; width: 250px;">
      <input type="radio" name="type" />
      Statistics
      <span>Official statistics produced by Government.</span>
    </label>

    <label class="chunky-radio" style="width: 250px;">
      <input type="radio" name="type" />
      National Statistics
      <span>Official statistics approved by the UK Statistics Authority. The national statistics logo will display on this document.</span>
    </label>
  </div>

  <div class="control-group">
    <%= form.text_field :title, required: true %>
    <%= form.text_area :summary, rows: 5, required: true %>
  </div>

  <div class="control-group" style="width: 400px">
    <%= form.label  :organisation_id, 'Organisation', required: true %>
    <%= form.select :organisation_id,
                  options_from_collection_for_select(Organisation.with_translations, 'id', 'name', statistics_announcement.organisation_id),
                  {},
                  class: 'chzn-select' %>
  </div>

  <div class="control-group" style="width: 400px">
    <%= form.label  :topic_id, 'Topic', required: true %>
    <%= form.select :topic_id,
                  options_from_collection_for_select(Topic.all, 'id', 'name', statistics_announcement.topic_id),
                  { prompt: 'Select a topic' },
                  class: 'chzn-select' %>
  </div>
  <% if statistics_announcement.new_record? %>
    <%= form.fields_for :current_release_date do |fields| %>
      <hr />
      <div class="control-group">
        <%= fields.label :release_date, "Release date", required: true %>
        <%= fields.datetime_select :release_date, {
            start_year: Date.today.year,
            end_year: Date.today.year + 5,
            minute_step: 15,
            default: (Date.tomorrow + 9.5.hours)
          }, { class: 'date' } %>

        <div class="confirmed-date">
          <%= fields.check_box :confirmed, label_text: 'Confirmed date?' %>
        </div>
      </div>
      <hr />
      <div class="control-group" style="margin-top: 15px">
        <p style="font-size: 16px;">Display date</p>
        <label class="chunky-radio" style="width: 200px">
          <input type="radio" name="type" />
          Exact
          <span>1 August 2014 9:30am</span>
        </label>
        <label class="chunky-radio" style="width: 200px">
          <input type="radio" name="type" />
          One month
          <span>August 2014</span>
        </label>
        <label class="chunky-radio" style="width: 200px">
          <input type="radio" name="type" />
          Two month
          <span>August to September 2014</span>
        </label>
      </div>
    <% end %>
  <% end %>

  <div class="form-actions">
    <input class="btn btn-primary btn-large" name="save" type="submit" value="Publish announcement">
    <a href="/government/admin/statistics_announcements" class="btn btn-default btn-large" style="margin-left: 10px">Cancel</a></span>
  </div>
<% end %>
