<%= form_for [:admin, statistics_announcement] do |form| %>
  <%= form.hidden_field :publication_id %>
  <%= form.errors %>

  <div class="control-group">
    <%= form.label  :publication_type_id, 'Type', required: true %>

    <label class="stats-type-label">
      <input type="radio" name="type" />
      Statistics
      <span>Official statistics produced by Government.</span>
    </label>

    <label class="stats-type-label">
      <input type="radio" name="type" />
      National Statistics
      <span>Official statistics approved by the UK Statistics Authority. The national statistics logo will display on this document.</span>
    </label>
  </div>

  <div class="control-group">
    <%= form.text_field :title, required: true %>
    <%= form.text_area :summary, rows: 5, required: true %>
  </div>

  <div class="control-group" style="width: 400px">
    <%= form.label  :organisation_id, 'Organisation', required: true %>
    <%= form.select :organisation_id,
                  options_from_collection_for_select(Organisation.with_translations, 'id', 'name', statistics_announcement.organisation_id),
                  {},
                  class: 'chzn-select' %>
  </div>

  <div class="control-group" style="width: 400px">
    <%= form.label  :topic_id, 'Topic', required: true %>
    <%= form.select :topic_id,
                  options_from_collection_for_select(Topic.all, 'id', 'name', statistics_announcement.topic_id),
                  { prompt: 'Select a topic' },
                  class: 'chzn-select' %>
  </div>
  <% if statistics_announcement.new_record? %>
    <%= form.fields_for :current_release_date do |fields| %>
      <div class="control-group">
        <%= fields.label :release_date, "Release date", required: true %>
        <%= fields.datetime_select :release_date, {
            start_year: Date.today.year,
            end_year: Date.today.year + 5,
            minute_step: 15,
            default: (Date.tomorrow + 9.5.hours)
          }, { class: 'date' } %>

        <%= fields.check_box :confirmed, label_text: 'Confirmed date?', style: 'font-weight: normal' %>
      </div>
      <div class="control-group" style="margin-top: 15px">
        <p style="font-weight: bold;">Display precision</p>
        <% StatisticsAnnouncementDate::PRECISION.each do |key, value| %>
          <div>
          <% checked = statistics_announcement.current_release_date.precision == value %>
          <%= fields.labelled_radio_button(key.to_s.humanize, :precision, value, checked: checked) %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= form.save_or_cancel buttons: { save: 'Save announcement' }, cancel: [:admin, statistics_announcement] %>
<% end %>
