<% content_for :page_class, 'statistics-announcements-show' %>
<% page_title "Statistics announcement: #{@statistics_announcement.title}" %>

<div class="span8">
  <style>
    .stats-details dt {
      font-weight: normal;
    }
  </style>

  <p style="font-size: 27px; line-height: 30px; color: #777"><%= @statistics_announcement.display_type %></p>
  <h1 style="width: 630px; margin-bottom: 15px"><%= @statistics_announcement.title %></h1>
  <%= link_to "View announcement on GOV.UK", @statistics_announcement, style: 'margin-bottom: 30px; display: inline-block; ' %>

  <%= render 'document_status', statistics_announcement: @statistics_announcement %>

  <dl class="stats-details dl-horizontal" style="font-size: 14px; line-height: 20px;">
    <dt>Release date:</dt>
    <dd>
      <%= @statistics_announcement.release_date.to_s(:date_with_time) %>
    </dd>
    <dt>Display date:</dt>
    <dd>
      <%= @statistics_announcement.display_date %>
      (<%= @statistics_announcement.confirmed? ? 'confirmed' : 'provisional' %>)
    </dd>
    <% if @statistics_announcement.last_change_note.present? %>
      <dt>Change note:</dt>
      <dd>
        <%= @statistics_announcement.last_change_note %>
      </dd>
    <% end %>
    <dt>Organisation:</dt>
    <dd><%= @statistics_announcement.organisation.name %></dd>
    <dt>Topic:</dt>
    <dd><%= @statistics_announcement.topic.name %></dd>
  </dl>

  <p style="font-size: 16px; line-height: 24px; margin-bottom: 30px"><%= @statistics_announcement.summary %></p>

  <p>
    <a href="#" class="btn btn-default btn-large" style="margin-right: 10px">Change release date</a>
    <a href="#" class="btn btn-default btn-large">Edit announcement details</a>
  </p>
</div>

<div class="span4">
  <h3>Release date history</h3>
  <ul class="release-date-changes">
    <% @statistics_announcement.statistics_announcement_dates.reverse.each do |previous_date| %>
      <li>
        Date set to &ldquo;<%= previous_date.display_date %>&rdquo;<br />
        <%= previous_date.creator ? linked_author(previous_date.creator) : "User (removed) "%>
        <%= absolute_time(previous_date.created_at, class: "created_at") %>
      </li>
    <% end %>
  </ul>
</div>
