<%= content_tag :fieldset, class: ("right-to-left" if edition.rtl?) do %>
  <%= render "subtype_fields", form: form, edition: form.object %>

  <%= form.hidden_field :lock_version %>
  <% if form.object.document %>
  <%= form.text_field :slug, disabled: true %>
  <% end %>
  <%= form.text_field :title %>
  <div class="title-length-info">Title text should be 65 characters or fewer and the slug will be truncated past 150. <span class="count"></span></div>

  <%= form.text_area :summary, rows: 2, class: 'js-summary-length-counting', data: { 'count-message-threshold' => 140, 'count-message-selector' => '.summary-length-info' }, required: form.object.summary_required? %>
  <div class="summary-length-info">Summary text should be 140 characters or fewer. <span class="count"></span></div>

  <%= form.text_area :body, class: "previewable", required: form.object.body_required? %>

  <div class="alert alert-warning" style="padding-right: 10px">
    <a href="#" class="icon icon-remove pull-right" style="opacity:0.8"></a>
    <h3 style="margin-bottom: 12px;">Broken links</h3>
    <p>We’ve found some links that may not be responding</p>
    <ul>
      <li><a href="#" style="color: inherit; font-weight: bold; text-decoration: underline">http://www.gooogle.com/incorrect/link</a></li>
      <li><a href="#" style="color: inherit; font-weight: bold; text-decoration: underline">http://www.gooogle.com/another-incorrect-link</a></li>
    </ul>
  </div>

  <%= render partial: "additional_significant_fields", locals: {form: form, edition: form.object} %>
<% end %>

<% if form.object.allows_image_attachments? %>
  <%= render partial: "image_fields", locals: {form: form, edition: form.object} %>
<% end %>
